.fondo {
  background-color:#b0ccab;
  padding: 50px;
  margin: 0;
}

p {
  position: relative;
  left: 50px;
  margin-right: 300px;
}

#parrafo {
  display: block;
  position: relative;
  left: 100px;
  margin-right: 200px;
}
